<header>
    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="/api/v1/users/logout" class="active" style="float: right;" >Logout</a>
    </div>
    
  </header>