<header>
    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
      <a href="/users/logout" class="active" id="logout" style="float: right;" >Logout</a>
    </div>
    
  </header>