<div class="welcome-container" style="text-align: center; margin-top: 100px; color: brown;">
    <h1>
        Welcome To Locale
    </h1>
    <p>The perfect choice to tour the world</p>
</div>
<div class="container" style="align-items: center; text-align: center;">
    <button type="button" class="btn btn-lg btn-outline-secondary" role="button"><a href="/api/v1/users/login" style="text-decoration: none; text-decoration-line: none; text-align: center;">Login</a></button>
</div>

