<form action="/users/register" method="POST">
  <div class="mb-3 register_form" style="width: 30%; margin-top: 20px;" >
    <label for="Full_Name" class="form-label">Full Name</label>
    <input type="text" name="Full_Name" class="form-control" name="" id="exampleInputName">
  </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" style="width: 30%;" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp"  class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" style="width: 30%;" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <input type="text" style="width: 30%;" name="role" class="form-control" id="exampleInputRole">
    </div>
    
    
    <button type="submit" class="btn btn-primary" style="width: 30%;">Submit</button>
  </form>